<div class="home-container">
  <div class="home-section1">
    <div class="home-container1">
      <div class="home-header">
        <h3 class="home-text Healine">Autómata de Pila</h3>
      </div>
      <!--OuterResponses-->
      <div *ngIf="requestPDA">
        <h3 *ngIf="requestPDA?.cadena_aceptada" class="home-accepted">Cadena aceptada</h3>
        <h3 *ngIf="!requestPDA?.cadena_aceptada" class="home-declined">Cadena Rechazada</h3>
        <h3 *ngIf="requestPDA.caracteres_ilegales.length > 0" class="home-declined">
          Caracteres ilegales: {{ requestPDA.caracteres_ilegales.join(', ') }}
        </h3>
      </div>
      <div class="home-body-container">
        <div class="home-automaton-box">
          <div class="home-container2">
            <div class="home-container3">
              <div class="home-input-container">
                <h3 class="home-input-name Healine">Cadena:</h3>
                <input type="text" [(ngModel)]="cadena" rows="Ingres" placeholder="Ingresa una cadena"
                  class="home-input-box input " (keyup.enter)="onSimulate()"/>
                <svg viewBox="0 0 1024 1024" class="home-icon" (click)="onSimulate()" style="cursor: pointer;">
                  <path
                    d="M451.669 281.003c-33.323 33.237-33.323 87.339 0 120.661l67.669 67.669h-309.077c-47.104 0-85.333 38.187-85.333 85.333 0 47.104 38.229 85.333 85.333 85.333h309.077l-67.669 67.669c-33.323 33.237-33.323 87.339 0 120.661 16.683 16.683 38.485 25.003 60.331 25.003s43.648-8.32 60.331-25.003l273.664-273.664-273.664-273.664c-33.323-33.323-87.339-33.323-120.661 0z">
                  </path>
                </svg>
              </div>
            </div>
          </div>
          <textarea [(ngModel)]="resultadoSimulacion" disabled placeholder="Output"
            class="home-textarea textarea"></textarea>
          <div class="home-container4">
            <h3 class="home-text1" (click)="closeWindow()" style="cursor: pointer;">Salir</h3>
            <svg viewBox="0 0 1024 1024" (click)="closeWindow()" class="home-icon2" style="cursor: pointer;">
              <path
                d="M768 640v-128h-320v-128h320v-128l192 192zM704 576v256h-320v192l-384-192v-832h704v320h-64v-256h-512l256 128v576h256v-192z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="home-container2">
          <div class="home-container3">
            <div class="home-diagram-box">
              <div class="home-diagram-header">
                <h4 class="home-text1 Healine">
                  <span class="home-text2">Diagrama del automata</span>
                  <br/>
                </h4>
              </div>
              <img [src]="'assets/images/AutomataDePila.png'" class="home-image" height="242" width="618" alt="Diagrama de automata de pila"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
